html {
    background-color: rgb(175, 167, 157);
    color:blue;
    font-size: 20px; /* px significa "pixels": o tamanho da fonte base é agora de 10 pixels */
    font-family: "Protest Guerrilla", sans-serif; /* este deve ser o nome da fonte que você obteve no Google Fonts */
  }
  h1 {
    font-size: 60px;
    text-align: center;
  }
  body {
    width: 800px;
    margin: 0 auto;
    background-color: #ff9500;
    padding: 0 50px 50px 50px;
    border: 5px solid black;
  }
  h1 {
    margin: 0;
    padding: 20px 0;
    color: #00539f;
    text-shadow: 3px 3px 1px black;
  }
img {
    width: 400px;
    display:block;
    margin: 0 auto;
}
  p,
  li {
    font-size: 20px;
    line-height: 2;
    letter-spacing: 1px;
    margin: 10px;
  }

  p {

    padding: 15px;
    
  }
  
   nav li {
    text-align: center;
    border: 1px solid;
    padding: 3px;
    background-color: rgb(221, 184, 135);
    color:black;
    font-size: 20px;
    margin: 5px;
    display: inline;
  }